<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
     <servlet-name>RegisterServlet</servlet-name>
     <display-name>RegisterServlet</display-name>
     <servlet-class>com.doctorappointment.servlets.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>AppointmentServlet</servlet-name>
     <display-name>AppointmentServlet</display-name>
     <servlet-class>com.doctorappointment.servlets.AppointmentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
